@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

#logo-puppycat {
	font-family: "Pacifico", cursive;
	font-weight: 700;
	font-style: normal;
}

#toggle-theme-button {
	width: 32px;
	height: 32px;
	background-color: unset;
	border: unset;
	transition: background 0.7s;

	&[data-theme="light"] {
		background-image: url("/public/svgs/PhSunBold.svg");
		background-repeat: no-repeat;
	}

	&[data-theme="dark"] {
		background-image: url("/public/svgs/PhMoonBold.svg");
		background-repeat: no-repeat;
	}
}

#heart-break-icon {
	display: inline-block;
	background: var(--pico-color);
	-webkit-mask-image: url("/public/svgs/PhHeartBreakDuotone.svg");
	mask-image: url("/public/svgs/PhHeartBreakDuotone.svg");
	height: 32px;
	width: 32px;
	transform: translateY(30%);
}