@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

#logo-puppycat {
	font-family: "Pacifico", cursive;
	font-weight: 700;
	font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
